
body {
background-image: url(../img/La_Argentina_Huila.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.contenedor{
  padding: 10px;
  height: 120px;
  background-color: #039be5;
}
.contenedor-img{
  margin-top: 30px;
}

.logo{
  height: 100px;
  border-radius: 16px;

}
.redessociales{
  width: 50px;
  border-radius: 8px;
}
.titulo{
  color: white;
  text-align: left;
}

.texto{
  padding: 10px;
  text-align: justify;

}
.perfil{
  padding: 15px;
  text-align: center;
}
.img-autor{
  width: 50%;
}
.img-blog{
  width: ;
}
